.dashboard-top-container{
	display: flex;
}
.user-image{
	margin-right: 1rem;
    width: 200px;
    box-shadow: 0px 0px 10px #eee;
    padding: .5rem; 
}
.user-info{
	padding-top: 1rem;
}
.user-upload-container{
	display: flex;
	flex-wrap: wrap;
}
.user-upload{
	flex-basis: 30%;
	margin-right: 1rem;
}
.user-upload a:first-child{
	min-height: 13rem;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 0px 10px #eee;
}
.edit-form {
	border:1px solid grey;
	background-color: #eee;
	width: 80%;
	margin:0 auto; 
	border-radius: 5px;
	padding: 1rem 1rem;
}

