.blog-comp-student {
    box-shadow: 5px 0 #5555;
    min-height: 250px;
    width: 100%;
    text-decoration: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.blog-comp-student .hover-text {
    display: none;
}

a.blog-comp-student>span {
    font-size: 1.5rem;
    font-weight: 500;
}

.home-material {
    /* width: 25%; */
    overflow: hidden;
}

.my-carousal-container .carousel-item img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center;
}

.home-button {
    border: 1px solid #eee;
    padding: 10px 25px;
    background: white;
    color: #000;
    cursor: pointer;
    transition: 0.1s all linear;
    margin-left: auto;
}

.home-button:hover {
    background: #fa8a11;
    text-decoration: none;
    color: #fff;
}

.password-view-icon {
    position: absolute;
    right: 8px;
    top: 3px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
}


/* // testimonials */
/* profile css */
.img label{
    position: absolute;
    top: 13%;
    left: 35%;
    font-size: 9px;
    cursor: pointer;
    opacity: 0; 
    font-weight: bold;
}
label:hover{
    opacity: 1;
}
.profile-image:hover + label{
    opacity: 1;
    transition: all 0.2 linear;
}
.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.profile-container{
    /* position: fixed; */
}
.work-container{
    /* max-height: 350px;
    overflow-y: scroll; */
}
.bg-grey{
    background-color: #eee;
}
.w-18{
    width: 18%;
}