/*Fonts*/
.white-font{
	color: #fff;
}
.theme-font{
	color: #fa8a11!important;
}

/*Backgrounds*/
.theme-bg{
	background-color: #fa8a11;
}
.material-bg{
	background-color: #e03838;
}
.blog-bg{
	background-color: #36f00c;
}
.grey-bg{
	background-color: #bdbdbd;
}
.transparent-bg{
	background-color: transparent;
}

.inline-list{
	list-style: none;
	padding: 0;
	margin: 0;
}
.inline-list>li{
	display: inline-block;
}
.error{
	color: #f00;
}
.bg-color {
    background-color: #fa8a11;
}
a,
a:hover,
a:active{
	text-decoration: none;
}
.p-text{
	font-size: 17px;
	padding: 10px;
}
.space{
	height: 20px;
	width: 100%;
}
.section-padding{
	padding: 40px 20px 20px 20px;
}
@media(max-width: 768px){
	.row div{
		margin-top: 10px;
	}
}
/*validation show error*/
form input.ng-touched.ng-invalid{
	border-color:#f00;
}
form input.ng-valid{
	border:1px solid #0f0;
}
/*success demo*/
.mysuccess{
    width: 100%;
    min-height: 100px;
    background-color: rgba(255,255,255,.8);
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: 9999!important;
    padding-top: 27px;
}

/*image viewer*/
.my-image-container{
	position: fixed;
	background-color: rgba(0,0,0,.8);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
}
.my-image-container .images{
	position: absolute;
	top: 50%;
	width: 80%;
	min-height: 90%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #fff;
	padding:  0.5rem 2rem .5rem;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.my-image-container .images button{
	position: absolute;
	right: 1rem;
	bottom: 1rem;
	cursor: pointer;
	outline: none;
}
.my-image-container .images button:hover{
	font-weight:300;
}

.small-images-view img{
	margin-top: 10px;
	width: 10%;
	cursor: pointer;
	display: inline-block;
	border:2px solid #555;
	border-radius: 5px;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

/*architrects css*/
.architect-container{
	box-shadow: 0px 0px 10px #bdbdbd;
	padding:1rem; 
	display:flex;
	border-radius: 5px;
	width: 80%;
}
@media(max-width:1000px){
	.architect-container{
		width: 100%;
	}
}
.architect-attribute,.architect-value{
	flex-basis: 50%;
}
.architect-attribute  p,.architect-value p{
	margin:0.5rem; 
}
.architect-attribute  p{
	font-weight:bold;
}