@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
#header .header-container{
	padding:1rem 2rem; 
}
#navbar,
#sidenav{
	display: none;
}
#header .header-container h2 a{
	color: #fff;
}
#navbar .navbar-container{
	background-color: #000;
	display: flex;
	align-items: center;
}
.heading a{
	color: #fff;
}
.heading a:first-child{
	margin-left: 1.5rem;
}
.heading{
	display: flex;
	align-items: center;
}
.heading-hide{
	display: none;
}
.heading a img{
	width: 80px;
	height: 56px;
}
.heading  strong{
	font-size: 2rem;
	color: #fff;
	display: inline-block;
	font-family: 'Dancing Script', cursive;
}
.fixed-nav{
	position: fixed;
	transition: all .5s linear;
	width: 100%;
    top: 0;
    z-index: 999;
}
.active{
	background-color: #1826a1;
	color:#fa8a11!important;
}
.navbar-container .inline-list{
	margin-left: auto;
}
.navbar-container ul li>a{
	display: block;
	padding: 1rem 1.3rem;
	color: #fff; 
	text-decoration: none;
	transition: all .5s linear;
}
.navbar-container ul li a:hover{
	color: #fa8a11;
	background-color: #1826a1;
}	
.dropdown-menu{
	background-color: #555;
}
.navbar-container .dropdown-menu,
.nav-bottom-container .dropdown-menu{
	min-width: 12rem;
	background-color: #000;
}
.navbar-container .dropdown-menu>a,
.nav-bottom-container .dropdown-menu>a{
	color: #fff;
}	
.nav-space-small-device{
	width: 100%;
	height: 90px;
}
#sidenav{
	display: block;
	width: 270px;
	position: fixed;
	z-index: 999;
	top: 85px;
	background-color: #000;
	margin-left: -270px;
	transition: all 0.3s linear;
	height: 100%;
}
.header-fixed{
	position: fixed;
	transition: all .5s linear;
	width: 100%;
    top: 0;
    z-index: 999;
}
#sidenav .sidenav-list{
	padding: 0;
	margin: 0;
}
#sidenav .sidenav-list li{
	list-style: none;
}
#sidenav ul li a{
	text-decoration: none;
	display: block;
	padding: 0.5rem 1rem;
	color: #fff; 
	transition: all .5s linear;
}
#sidenav ul li a:hover{
	background-color: #1826a1;
}
#header .header-container{
	display: flex;
}
#header .header-container .nav-coll-btn{
	width: 45px;
}
#header .header-container .heading{
	width: 100%;
	text-align: center;
}
#header .header-container .open-btn{

}
#header .header-container .open-btn,
#header .header-container .close-btn{
	margin-top: 8px;
	cursor: pointer;
	height: 45px;
	width: 45px;
}
#header .header-container .bar{
	margin-top: 5px;
}
#header .header-container .close-btn{
	display: none;
	padding-top: 12px;
}
#header .header-container .cross-div{
	position: relative;
}
#header .header-container .bar,
#header .header-container .cross-div:before,
#header .header-container .cross-div:after{
	border-radius: 10px;
	width: 40px;
	height: 5px;
	background-color: #fff;
}
#header .header-container .cross-div:before,
#header .header-container .cross-div:after{
	position: absolute;
	content: ' '; 
}
#header .header-container .cross-div:before{
	transform: rotate(-45deg);
}
#header .header-container .cross-div:after{
	transform: rotate(45deg);
}